*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: rgb(151, 166, 214);
  }
  
  
  img{
    width: 100%;
  }
  
  figure{
    background-color: rgb(255, 255, 255);
    width: 20%;
  }