<header class="header_Gral">
    <figure>
      <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <div class="caja_Menu">
        <div class="menu_Gral">
          <nav>
            <ul class="menu_Gral_ul">
              <li><a href="/">Home</a></li>
              <li><a href="">Películas</a>
                <ul class="menu_Gral_ul">
                  <li><a href="/movies/">Listar</a></li>
                  <li><a href="/movies/new">Estrenos</a></li>
                  <li><a href="/movies/recommended">Recomendadas</a></li>
                </ul>
              </li>
              <li><a href="/genres/genres">Generos</a></li>
              <li><a href="/actors/">Actores</a></li>
            </ul>
          </nav>
        </div>  
    </div>    
  </header>